{% extends "common/layout.html" %}
{% block content %}
<div >
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4 col-xs-6">   {{ info.name | safe }} </div>
            <div class="col-lg-8 col-xs-6 text-r">
                <a  href="{{buildUrl('/')}}">返回列表</a>
            </div>
            <style >
                .text-r{
                    text-align: right;
                }
            </style>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-12" style="text-align: center;"> 
           <img class="img-thumbnail heaimg" style="width:80%" src="{{ info.cover_pic | safe }}">
        </div>
        <div class="col-lg-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>更新：{{ info.pub_date | safe }}</p>
                    <p>类型：{{ info.classify | safe }}</p>
                    <p>主演：{{ info.actor | safe }}</p>
                    <p>{{ info.desc | safe }}</p>
                    <a href="{{ '%s?id=%s' | format( buildUrl('/member/paly'),info.id) }}"> 
                        <button type="button" class="btn btn-success">播放</button>
                    </a>
                    
                    <!-- <p>下载地址：{{ info.magnet_url | safe }}</p> -->
                    <!-- <p>原地址：<a target="_blank" href="{{ info.url | safe }}">{{ info.url | safe }}</a></p> -->
                </div>
            </div>
        </div>
    </div>

    <style>
        .magtop{
            margin-top: 20px;
        }
        .heaimg{
            margin: auto;
            margin-bottom: 10px;
            position: relative;
        }
    </style>
    <div class="row magtop">
        <ul class="list-group">
            <li class="list-group-item">随机推荐</li>
            <li class="list-group-item">
                <div class="row">
                    {% for item in recommend_list %}
                    <div class="col-lg-2 col-xs-6">
                        <a class="thumbnail" href="{{ '%s?id=%s' | format( buildUrl('/member/info'),item.id) }}">
                            <img style="width: 100%;height:180px; "
                                 src="{{ item.cover_pic | safe }}">
                            <div class="caption">
                                <p style="overflow: hidden;text-overflow: ellipsis;display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:1;">
                                    {{ item.name | safe }}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}